# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# macOS
.DS_Store

# Android
android/.gradle/
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/key.properties
**/android/**/gradle-wrapper.jar
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
**/ios/Flutter/.last_build_id

# Secrets
*.keystore
*.jks
key.properties
.env
google-services.json
GoogleService-Info.plist

# Generated
.dart_tool/
*.g.dart
*.freezed.dart
*.mocks.dart
